@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../assets/fonts/Gilroy-Regular/font.woff2') format('woff2'), url('../assets/fonts/Gilroy-Regular/font.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../assets/fonts/Gilroy-Bold/font.woff2') format('woff2'), url('../assets/fonts/Gilroy-Bold/font.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy-LightItalic';
  src: url('../assets/fonts/Gilroy-LightItalic/font.woff2') format('woff2'), url('../assets/fonts/Gilroy-LightItalic/font.woff') format('woff');
}
